<div class="main_container">
  <div class="left_container">
          <div class="container">
          <div class="row">
              <div class="col-sm-4">
              <button class="btn btn-primary"
              style="font-size: 1.75rem;"
              routerLinkActive="active" [routerLink]="['/pone']"
              >回上一頁<i class="fas fa-angle-down"></i></button>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-sm-4">
              <h3>Column 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
              <div class="col-sm-4">
              <h3>Column 3</h3>        
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
              </div>
          </div>
      </div>
      <div class="container">
              <div class="row">
                  <div class="col-sm-4">
                  <h3>Column 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  </div>
                  <div class="col-sm-4">
                  <h3>Column 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  </div>
                  <div class="col-sm-4">
                  <h3>Column 3</h3>        
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                  </div>
              </div>
          </div>
          
                <div class="container">
                        <div class="row">
                          <div class="col-sm-4">
                            <h3>Column 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                          </div>
                          <div class="col-sm-4">
                            <h3>Column 2</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                          </div>
                          <div class="col-sm-4">
                            <h3>Column 3</h3>        
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                            <div class="row">
                              <div class="col-sm-4">
                                <h3>Column 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                              </div>
                              <div class="col-sm-4">
                                <h3>Column 2</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                              </div>
                              <div class="col-sm-4">
                                <h3>Column 3</h3>        
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                              </div>
                            </div>
                          </div>
                          <div class="container">
                                <div class="row">
                                  <div class="col-sm-4">
                                    <h3>Column 1</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                  </div>
                                  <div class="col-sm-4">
                                    <h3>Column 2</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                  </div>
                                  <div class="col-sm-4">
                                    <h3>Column 3</h3>        
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                  </div>
                                </div>
                              </div>
                              <div class="container">
                                    <div class="row">
                                      <div class="col-sm-4">
                                        <h3>Column 1</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                      </div>
                                      <div class="col-sm-4">
                                        <h3>Column 2</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                      </div>
                                      <div class="col-sm-4">
                                        <h3>Column 3</h3>        
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                      </div>
                                    </div>
                                  </div>
  </div>
  <!-- <div class="right_container">
  </div> -->
</div>